<?xml version="1.0" ?>

<launch>
    <node name="python_node" pkg="rl_controllers" type="node1.py" output="screen" />    
    <!-- <node name="Contact_Listener" pkg="rl_controllers" type="Contact_Listener.py" output="screen" />     -->
    <!-- <node name="Joint_Listener" pkg="rl_controllers" type="Joint_Listener.py" output="screen" />     -->
</launch>